/*-----maincode-----*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Rajdhani', sans-serif;
    font-size:large;
font-weight: 500;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width:100%;
    padding: 20px;
    background-color:rgba(255, 247, 247, 0.719);
}
nav{
    flex: 1;
    text-align:right;
    font-size:large;
    
}
nav ul{
    display:inline-block;
    list-style-type:none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
    
}
/*-----products-----*/
.nav2{
    flex: 1;
    text-align:center;
    
}
.nav2 ul{
    display:inline-block;
    list-style-type:none;
}
.nav2 ul li{
    display:inline-block;
    margin-right: 20px;
    
}
.opening2{padding-top:40px;
    background-color:#dbdbdb;
    padding-bottom:40px;
    font-size: large;
   }

a:hover{color:#fd0000}

a{
    text-decoration:none;
    color:#555;
    transition: color .5s
}
p{
    color:#555;
    font-size:20px;
}
b{
color:red;
}
.container{
    width:100%;
    margin:auto;
    padding-left: 5px;
    padding-right: 5px;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-left:50px;

}
.col-2{
    flex-basis: 50%;
    min-width:300px;
}
.col-2 img{
    max-width:80%;
    padding:50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;    
}
.btn{
    display: inline-block;
    background: #a00707;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    transition: background 0.5s
}
.btn:hover{
    background:#330303;
}
.header{
    background:radial-gradient(#fff,#b4b4b4)
}
.header .row{
    margin-top:70px;
}
.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
}




.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:100%;
}
.rating{ width:40%}
h2{
text-align:center;
}
.title{
    text-align:center;
    font-size:40px;
    margin: 0 auto 80px; 
    position: relative; 
    line-height: 60px;
    color: rgb(102, 15, 15);
}
h1{color:rgb(202, 3, 3);
    font-family: 'Cinzel', serif;}

.offer{
background:radial-gradient(#fff,#b4b4b4);
margin-top: 80px;
padding:30px 0;
}
.col-2 .offer-img{
    padding:50px;
}


.offer2{
    background:radial-gradient(#fff,#b4b4b4);
    padding:30px 0;
    }
    .col-2 .offer2-img{
        padding:50px;
    }
    
/*-----brands-----*/
.brands{
    margin: 100px auto;
}
.col-5{
width:160px;}
.col-5 img{
    width:100%;
    cursor:pointer;
    filter:grayscale(100%);
}
.col-5 img:hover{
    filter:grayscale(0);
}



/*------footer------*/
.footer{
    background:rgb(44, 8, 8);
    color:#ffd9d9;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color:#ffd9d9;
}
.footer h3{ 
color:#fff;
margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width:250px;
    margin-bottom:20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex-basis: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom:20px;
}
.footer-col-3, .footer-col-4{
flex-basis: 12%;
text-align:center;
}
ul{list-style-type:none;}

.links:hover{color:#7a7a7a}

.links{
    text-decoration:none;
    color:rgb(255, 19, 19);
    transition: color .5s
}

/*-----about-----*/
.opening{padding-top:20px;
    margin-top:2px;
    background-color:#fdfdfd;
    padding-bottom:20px;
    -webkit-box-shadow: -5.5px 5.5px 10px #8d8d8d;
	box-shadow: -5.5px 5.5Spx 10px #6d6d6d;
   }
   .openings{padding-top:20px;
    margin-top:2px;
    background-color:#e4e4e4;
    padding-bottom:20px;
    margin-bottom:50px;
   }
   .opening3{padding-top:50px;
    margin-top:2px;
    background-color:#e4e4e4;
    padding-bottom:50px;
    margin-bottom:50px;
   }
   .openingp{
    padding:60px;
    font-size:x-large;
    text-align:center;
   }
   

.first {
    display:flex;
    justify-content: space-between;
    padding:100px;
    width:100%;
    background-color:rgba(255, 255, 255, 0.925);
    outline-style:inset;
    outline-color:red;
}

.one {
	width: 520px;
	float: right;
	text-align: left;
}

.first img{
    margin-left:100px;
	width: 50%;
    height:50%;
	float: left;
	-webkit-box-shadow: -5.5px 5.5px 10px #160404;
	box-shadow: -5.5px 5.5Spx 10px #803d3d;
}
.second {
    display:flex;
    justify-content: space-between;
    padding:40px;
    margin: top 0;;
    width:100%;
    background-color:rgba(255, 255, 255, 0.925);
    outline-style:outset;
    outline-color:red;
}

.two {
	width: 520px;
	float: left;
	text-align: left;
	
	
}

.second img{
	width: 50%;
    height:50%;
    margin-right:90px;
	float: right;
	-webkit-box-shadow: -5.5px 5.5px 10px #160404;
	box-shadow: -5.5px 5.5Spx 10px #803d3d;}

.wrapper{
    padding-top:30px;
	width: 100%;
	height: auto;
    background-image: url(images/bloodbacks.svg);
    background-position:center;
    background-size:100%;
    background-repeat:no repeat;

    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-right:3%;
}
.title2{
    text-align:center;
    font-size:40px;
    margin: 0 auto 30px; 
    position: relative; 
    line-height: 40px;
    color: rgb(102, 15, 15);
}
.title3{ text-align:center;
    font-size:40px;
    margin: 0 auto 30px; 
    position: relative; 
    line-height: 40px;
    color: rgb(255, 255, 255);

}
.title4{
    text-align:center;
    padding-top:50px;
    font-size:40px;
    margin: 0 auto 30px; 
    position: relative; 
    line-height: 40px;
    color: rgb(228, 26, 26);

}
.title5{text-align:center;
    font-size:40px;
    margin: 0 auto 30px; 
    position: relative; 
    line-height: 40px;
    color: rgb(255, 17, 17);

}
.contain{  
     padding-top:30px;
background-color:#330303;
padding-bottom:5px;
-webkit-box-shadow: -5.5px 5.5px 10px #0e0303;
	box-shadow: -5.5px 5.5Spx 10px #110303;}


/*-----blog-----*/
.firsts img{
	width: 25%;
    height:25%;
    margin-right:10px;
    left:30px;
	-webkit-box-shadow: -5.5px 5.5px 10px #160404;
	box-shadow: -5.5px 5.5Spx 10px #803d3d;}
    .firsts {
        display:flex;
        justify-content: space-between;
        padding:40px;
        margin-bottom:50px;
        width:60%;
        margin:10;
        background-color:rgba(255, 255, 255, 0.925);
        outline-style:inset;
        outline-color:red;
    }
.pages{ 
    text-align:center;
    letter-spacing: 15px;
    padding-top:10px;
    padding-right:40px;
    background-color:#c7b0b0ad;
    padding-bottom:10px;
outline-style:groove;
outline-color: rgb(255, 58, 58);}

.color{color:rgb(255, 0, 0);}
.dark{color:#470707;}

/*-----contact-----*/

.contact-container {
  width: 800px;
  margin: 0 auto;
  margin-top:100px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}
.contact-form {
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top:20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.contact-form input[type="submit"] {
  background-color: rgb(255, 36, 36);
  color: #FFF;
  font-weight: bold;
}
.contact-form input[type="submit"]:hover {
  background-color: rgb(85, 6, 6);
}

/*-----thank you-----*/
.title3{
    color: #e40000;
    text-align: center;
 }
.thanks-container{
    width: 100%;
    height:600px;
    margin: 0 auto;
    background-color: #646464c9;
    padding: 30px;
 }
 .pcenter{
    text-align: center;
color:white;}


/*-----account-----*/
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 14px;
    
}
.login-link {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #301810;
}

#login-form, #create-account-form {
    width: 350px;
    margin-left:50%;
    margin: auto;
    margin-bottom:40px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#login-form h2, #create-account-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login-form label, #create-account-form label {
    display: block;
    margin-bottom: 8px;
}

#login-form input, #create-account-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form .submit, #create-account-form .submit {
    background-color: #ff0505;
    border: none;
    color: #fff;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
}

#login-form .submit:hover, #create-account-form .submit:hover {
    background-color: #ff0000;
}

#login-form .forgot-password, #create-account-form .forgot-password {
    text-align: center;
}